<div class="surface-ground min-h-screen">
  <admin-menu-bar></admin-menu-bar>
  <div class="admin-container">
    <div class="md:flex block">
      <div class="col-3 hidden lg:block">
        <admin-sidebar></admin-sidebar>
      </div>

      <div class="col">
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="themeService.sidebarVisible">
    <admin-sidebar-content></admin-sidebar-content>
  </p-sidebar>
</div>
