<header class="h-min">
  <div class="flex flex-wrap align-items-center bg-gray-50">
    <div class="block sm:hidden col-4">
      <p-button icon="pi pi-bars" severity="secondary" />
    </div>
    <div class="sm:col-3 col-4">logo</div>
    <div class="hidden sm:block col-4">
      <shop-search></shop-search>
    </div>
    <div class="hidden lg:col-3 lg:block">
      <shop-menu></shop-menu>
    </div>
    <div class="lg:col-2 md:col-5 sm:col-5 col-4">
      <shop-icons></shop-icons>
    </div>
  </div>
  <div class="col-12 block sm:hidden">
    <shop-search></shop-search>
  </div>
</header>
