<div class="bg-cyan-100 p-1 border-round-3xl">
  <div
    class="flex align-items-center justify-content-around flex-wrap flex-wrap-reverse"
  >
    <div>
      <h1 class="text-500 m-0 font-medium">the Best Products</h1>
      <p class="m-2 mb-3 text-500 font-light">in Every Category</p>
      <p-button
        label="See More"
        icon="pi pi-check"
        severity="info"
        styleClass="mb-3"
      />
    </div>
    <div class="w-15rem fadeinleft animation-duration-1000">
      <img src="cart.png" alt="cart image" width="100%" />
    </div>
  </div>
</div>
