<div class="grid mb-7">
  <div class="col">
    <div class="text-center shadow-1 border-0">
      <div
        class="z-1 top-0 left-0 fixed shadow-1 border-noround border-0 w-full h-4rem surface-0 flex align-items-center pl-4 pr-4 justify-content-between"
      >
        <p-button
          icon="pi pi-bars"
          (onClick)="themeService.toggleSidebar()"
          [text]="true"
          styleClass="lg:hidden"
        />

        <div>
          <h2 class="text-color">
            <i class="pi pi-shop text-3xl mr-2"></i>{{ 'WELCOME' | translate }}
          </h2>
        </div>
        <div class="flex gap-2 align-items-center">
          <div class="speed-dial-btn">
            <p-speedDial
              [model]="langItems"
              direction="down"
              showIcon="pi pi-language"
              hideIcon="pi pi-times"
              buttonClassName="p-button-text"
              [style]="{ right: '180px', top: '12px' }"
            />
          </div>

          <p-button
            [icon]="themeService.theme === 'light' ? 'pi pi-moon' : 'pi pi-sun'"
            [rounded]="true"
            [text]="true"
            (onClick)="themeService.toggleTheme()"
          />
          <p-button
            [rounded]="true"
            [text]="true"
            (onClick)="op.toggle($event)"
          >
            <i class="pi pi-bell" pBadge value="2" severity="danger"></i>
          </p-button>

          <div class="speed-dial-btn">
            {{ userInfo.username }}
            <p-speedDial
              [model]="userItems"
              direction="down"
              showIcon="pi pi-user"
              hideIcon="pi pi-times"
              buttonClassName="p-button-text"
              [style]="{ right: '25px', top: '12px' }"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <div class="w-23rem">Notifications</div>
  <p-messages styleClass="w-23rem" [value]="messages" />
</p-overlayPanel>
