<div
  class="surface-card shadow-1 border-round p-3 fixed overflow-y-scroll admin-sidebar"
>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, placeat!
  Animi et cupiditate illo perferendis voluptates veritatis porro, eius
  reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum amet?
  Quasi, eos id! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Tempore, placeat! Animi et cupiditate illo perferendis voluptates veritatis
  porro, eius reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum
  amet? Quasi, eos id!Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Tempore, placeat! Animi et cupiditate illo perferendis voluptates veritatis
  porro, eius reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum
  amet? Quasi, eos id!Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Tempore, placeat! Animi et cupiditate illo perferendis voluptates veritatis
  porro, eius reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum
  amet? Quasi, eos id!Lorem ipsum dolor sit amet consectetur, adipisicin amet?
  Quasi, eos id!Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Tempore, placeat! Animi et cupiditate illo perferendis voluptates veritatis
  porro, eius reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum
  amet? Quasi, eos id!Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Tempore, placeat! Animi et cupiditate illo perferendis voluptates veritatis
  porro, eius reiciendis praesentium culpa voluptatem deserunt? Veritatis, earum
  amet? Quasi, eos id!
</div>
