<div
  class="surface-border surface-ground surface-card border-1 p-3 border-round-xl"
>
  <p-stepper
    orientation="vertical"
    [linear]="product?.id ? false : true"
    [(activeStep)]="activeStep"
    (activeStepChange)="onStepChange($event)"
  >
    <p-stepperPanel
      [header]="product?.id ? 'Update Product Info' : 'Create New Product'"
    >
      <ng-template
        pTemplate="content"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div class="flex flex-column">
          <div
            class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium p-3"
          >
            <form class="w-full" [formGroup]="productForm">
              <div class="grid">
                <div class="col-12 flex align-items-center gap-3">
                  <div>Product</div>
                  <div
                    *ngIf="user.role === 'admin'"
                    class="flex align-items-center"
                  >
                    Featured: <p-inputSwitch formControlName="isFeatured" />
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <input
                    id="name"
                    placeholder="Name"
                    pInputText
                    class="w-full mb-3 h-3rem"
                    formControlName="name"
                  />
                </div>

                <div class="col-12 md:col-6 lg:col-2">
                  <input
                    id="price"
                    placeholder="Price"
                    type="number"
                    pInputText
                    class="w-full mb-3 h-3rem"
                    formControlName="price"
                  />
                </div>
                <div class="col-12 md:col-6 lg:col-2">
                  <input
                    id="quantity"
                    type="number"
                    placeholder="Quantity"
                    pInputText
                    class="w-full mb-3 h-3rem"
                    formControlName="stockQuantity"
                  />
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <p-dropdown
                    [options]="categories"
                    optionValue="id"
                    [checkmark]="true"
                    optionLabel="name"
                    [showClear]="true"
                    [filter]="true"
                    placeholder="Select Category"
                    class="prod-dropdown"
                    styleClass="w-full"
                    formControlName="categoryId"
                  />
                </div>
              </div>
              <div class="grid">
                <div class="col-12">
                  <textarea
                    id="description"
                    placeholder="Product Description"
                    pInputTextarea
                    class="w-full h-6rem"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
              <div class="grid">
                <div class="col-12">Product Full Description</div>
                <div class="col-12">
                  <admin-text-rich-editor
                    (content)="onRichDescriptionChange($event)"
                    [value]="richDescription"
                  ></admin-text-rich-editor>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex py-4">
          <p-button
            [label]="product?.id ? 'Update' : 'Create'"
            (onClick)="submit()"
            [disabled]="!productForm.valid"
            [loading]="isLoading"
          />
        </div>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel
      [header]="product?.id ? 'Update Product Images' : 'Upload Product Images'"
    >
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <div class="flex flex-column">
          <div
            class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
          >
            <p-fileUpload
              mode="basic"
              chooseLabel="Choose"
              chooseIcon="pi pi-upload"
              name="demo[]"
              accept="image/*"
              maxFileSize="1000000"
              (onSelect)="uploadMainImage($event)"
            />
          </div>
        </div>
        <div class="flex py-4 gap-2">
          <p-button
            label="Back"
            severity="secondary"
            (onClick)="prevCallback.emit()"
          />
          <p-button label="Done" (onClick)="goBack()" />
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>

<p-toast />
